absl-py==1.4.0
aioice==0.9.0
aiortc==1.5.0
altair==5.0.1
antlr4-python3-runtime==4.9.3
attrs==23.1.0
av==10.0.0
black==23.7.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.4
cloudpickle==2.2.1
contourpy==1.1.0
cryptography==41.0.1
cycler==0.11.0
decorator==5.1.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@47d8ed7a1bd999719825f2e8a11d5b2828bc02c4
dnspython==2.3.0
filelock==3.9.0
fonttools==4.41.0
fsspec==2023.4.0
fvcore==0.1.5.post20221221
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-crc32c==1.5.0
grpcio==1.56.0
hydra-core==1.3.2
idna==3.4
ifaddr==0.2.0
importlib-metadata==6.7.0
iopath==0.1.9
Jinja2==3.1.2
jsonschema==4.18.0
jsonschema-specifications==2023.6.1
kiwisolver==1.4.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mpmath==1.2.1
mypy-extensions==1.0.0
networkx==3.0rc1
numpy==1.25.0
oauthlib==3.2.2
omegaconf==2.3.0
opencv-python==4.8.0.74
packaging==23.1
pandas==2.0.3
pathspec==0.11.1
Pillow==9.5.0
platformdirs==3.8.1
portalocker==2.7.0
protobuf==4.23.4
pyarrow==12.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.6
pycparser==2.21
pydeck==0.8.1b0
pyee==11.0.0
Pygments==2.15.1
pylibsrtp==0.8.0
Pympler==1.0.1
pyOpenSSL==23.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytorch-triton==2.1.0+3c400e7818
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
real-time-cv @ git+https://github.com/plachert/real_time_cv@592bf2c01f730ec0e10e3ee34de9bf574e32d6bb
referencing==0.29.1
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.4.2
rpds-py==0.8.8
rsa==4.9
six==1.16.0
smmap==5.0.0
streamlit==1.24.0
streamlit-webrtc==0.45.1
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
termcolor==2.3.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
torch==2.1.0.dev20230714+cu121
torchaudio==2.1.0.dev20230714+cu121
torchvision==0.16.0.dev20230714+cu121
tornado==6.3.2
tqdm==4.65.0
typing_extensions==4.7.1
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.3
validators==0.20.0
watchdog==3.0.0
Werkzeug==2.3.6
yacs==0.1.8
zipp==3.15.0
